//	Footer
//  ======





//------------------------------------//
//  Footer
//------------------------------------//

.footer {
	padding: 1em;

	&, p {
		font-family: $alt-font-family;
		@include font-size(12);
	}	

	@include mq($tablet) {
		padding: 1em 2em;
	}
}

.footer__copy {
	float: left;
}

.footer__nav {
	float: right;
	
	li {
		margin-left: 1em;
	}
}