//	Footer
//  ======





//------------------------------------//
//  Footer
//------------------------------------//

.footer {
	padding: 1em;

	&, p {
		font-family: $alt-font-family;
		@include font-size(12);
	}	

	@include mq($tablet) {
		padding: 1em 2em;
	}
}

.footer__copy {
	float: left;

	@include mq(600px, false, max) {
		float: none;

		margin-bottom: 1em;
	}
}

.footer__nav {
	float: right;
	
	li {
		margin-left: 1em;
	}

	@include mq(600px, false, max) {
		float: none;

		li {
			margin-right: 1em;
			margin-left: 0;
		}
	}
}