//	Forms
//  =====



//	Form-Fields




//------------------------------------//
//	Form-Fields 
//------------------------------------//

.form-fields {
	list-style: none;

	margin: 0 !important;
}

	.form-fields > li {
		margin-bottom: $gutter;

		&:last-child {
			margin-bottom: 0;
		}
	}

form {
	width: 100%;
}

label {
	display: inline-block;
	width: 100px;
	vertical-align: top;
	padding: 2px 0;

	@include mq(600px, false, max) {
		display: block;
	}
}

input,
textarea,
select {
	display: inline-block;
	width: calc(100% - 105px);
	border: 0;
	border-radius: 0;
	padding: 2px 5px;

	@include mq(600px, false, max) {
		display: block;
		width: 100%;
	}
}

input[type="submit"] {
	float: right;
	line-height: 1;
}

form p {
	margin-bottom: 2em;
}