//	Header
//  ======





//------------------------------------//
//  Header
//------------------------------------//

.header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1;

	@include mq(600px, false, max) {
		position: static;
	}
}




.header__logo {
	float: right;

	display: block;
	width: 70px;
	height: 70px;

	@include background-image-retina('logo', 'png', 70px, 70px);

	@include mq(600px, false, max) {
		float: none;
		margin: 0 auto;
	}
}



.header__nav {
	float: left;

	font-family: $alt-font-family;

	@include font-size(14);
	line-height: 1.3;

	li {
		margin-bottom: 0;
	}

	@include mq(600px, false, max) {
		float: none;
		
		text-align: center;

		margin: 2em 0 0 0;

		li {
			display: inline-block;
			margin: 0 0.5em;
		}
	}
}