//  Buttons
//  =======

//  Hat-Tip:
//  Loosely Based on beautons - a beautifully simple button toolkit.
//  LICENSE - http://apache.org/licenses/LICENSE-2.0
//  Copyright 2013 Harry Roberts
//  @csswizardry -- csswizardry.com/beautons

//  Modified by me





//------------------------------------//
//  Config
//------------------------------------//

$use-buttons            : false !default;

$button-color           : $primary-color;
$button-text-color      : $white;   
$button-radius          : $border-radius;





//------------------------------------//
//  Code
//------------------------------------//

@if $use-buttons == true {

    //------------------------------------//
    //  Basic
    //------------------------------------//

    .btn {
        display: inline-block;          // [1]
        vertical-align: middle;         // [2]
        white-space: nowrap;            // [3]
        font-family: inherit;           // [4]
        font-size: 100%;                // [4]
        cursor: pointer;                // [5]
        border: none;                   // [6]
        margin: 0;                      // [6]
        padding-top: 0;                 // [6]
        padding-bottom: 0;              // [6]
        line-height: 3;                 // [7]
        padding-right: 1em;             // [7]
        padding-left:  1em;             // [7]
        border-radius: $button-radius;  // [8]
        
        &, &:hover {
            text-decoration: none;      // [9]
        }
        
        &:active,
        &:focus,
        &:visited {
            outline: none
        }
    }

}