//	Embeds
//  ======

//	For:
//	Embedding objects/iframes
//	http://embedresponsively.com/





//------------------------------------//
//  Config
//------------------------------------//

$use-embeds 	: true !default;





//------------------------------------//
//  Code
//------------------------------------//

@if $use-embeds == true {

	//------------------------------------//
	//  Basic
	//------------------------------------//

	%embed-container {
		position: relative; 	
		height: 0; 
		overflow: hidden; 
		padding-top: 30px; 
	}

	%embed-container iframe, 
	.embed-container object, 
	.embed-container embed { 
		position: absolute; 
		top: 0; 
		left: 0; 
		width: 100%; 
		height: 100%; 
	}





	//------------------------------------//
	//  Video
	//------------------------------------//

	.embed-container--video { 
		@extend %embed-container;

		max-width: 100%; 
		height: auto; 

		padding-bottom: 56.25%;
	} 





	//------------------------------------//
	//  Instagram
	//------------------------------------//

	.embed-container--instagram {
		@extend %embed-container;

		padding-bottom: 120%; 
	}





	//------------------------------------//
	//  Gogole Maps
	//------------------------------------//

	.embed-container--maps { 
		@extend %embed-container;
		 
		max-width: 100%; 
		height: auto; 

		padding-bottom: 56.25%;
	} 


}





//------------------------------------//
//	Markup
//------------------------------------//

//	Youtube

//	<div class='embed-container--video'>
//		<iframe src='INSERT LINK HERE' frameborder='0' allowfullscreen></iframe>
//	</div>


//	Vimeo

//	<div class='embed-container--video'>
//		<iframe src='INSERT LINK HERE' frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
//	</div>


//	Instagram

//	<div class='embed-container--instagram'>
//		<iframe src='//instagram.com/p/CODE HERE/embed/' frameborder='0' scrolling='no' allowtransparency='true'></iframe>
//	</div>


//	Maps

//	<div class='embed-container'>
//		GOOGLE IFRAME EMBED CODE
//	</div>
