<section class="p-section p-section--white">
	
	<h2 class="p-section__title">Rates</h2>
	
	<div class="p-section-text">
		<perch:content id="text" type="textarea" label="Intro" markdown="true" editor="markitup" size="m" />
	</div>

	<div class="p-meeting-rates-container">
		<p class="p-meeting-rates--half">
			
				<span>Half Day</span>
				<span>£<perch:content id="half_rate" label="Half Day Rate" type="text" size="s" /> +VAT</span>
		
		</p>
		<p class="p-meeting-rates--full">
			
				<span>Full Day</span>
				<span>£<perch:content id="full_rate" label="Full Day Rate" type="text" size="s" /> +VAT</span>
			
		</p>
	</div>
</section>