<section class="p-section p-section--grey p-member-form">

	<h2 class="p-section__title">What You’ll Get</h2>

	<div class="b-container">

		<perch:content id="use_of_service" type="textarea" label="Use of Service" size="xl" textile="true" editor="markitup" />
	</div>
</section>


<section id="manifesto" class="p-section p-section--orange p-member-form">
	<h2 class="p-section__title">Member’s Manifesto</h2>

	<div class="b-container">
		<perch:content id="acceptable_use" type="textarea" label="Acceptable Use" size="xl" textile="true" editor="markitup" />
	</div>
</section>