.section {
	padding: 160px 0;

	&.section--white {
		background: white;
		color: black;
	}

	&.section--black {
		background: black;
		color: white;

		a {
			color: white !important;
		}
	}
}

.section-title {
	font-style: italic;
	margin-bottom: 1em;
}



.section label {
	width: 150px;
}

.section--white input[type="text"],
.section--white input[type="email"],
.section--white textarea,
.section--white select {
	border: solid 1px black;
	width: calc(100% - 160px);
	border-radius: 5px;
	background: white;

	@include mq(600px, false, max) {
		display: block;
		width: 100%;
	}
}

.section--white .btn {
	background: black;
	color: white;
}

.section label.full,
.section input.full,
.section select.full {
	width: 100%;
}

.section .form-gap {
	margin-top: 40px;
}



.section {
	h2 {
		margin-bottom: 1em;
		@include font-size(20);
		font-style: italic;
	}

	p {
		margin-bottom: 1em;
		@include font-size(14);
	}

	ul,ol {
		margin-bottom: 1em;
		margin-left: 2em;
	}

	p + h2, ul + h2 {
		margin-top: 40px;
	}
}