//------------------------------------//
//  Spacing
//------------------------------------//

$gutter                         : 20px;





//------------------------------------//
//  Breakpoints
//------------------------------------//

// Use EMs for Breakpoints: http://blog.cloudfour.com/the-ems-have-it-proportional-media-queries-ftw/

$bp-mobile 						: 767px;
$bp-tablet 						: 768px;
$bp-desktop 					: 960px;

$bp-max 						: 1280px;
