//	Typography
//  =========

//	Headings

//	Links

//	Paragraphs

//	Decoration
//		Italic
//		Bold
//		Deleted
//		Inserted
//		Highlighted

//	Lists
//		ul
//		ol
//		nested
//		dl





//------------------------------------//
//	Headings
//------------------------------------//

//	H1-H6

//	Hat Tip:
//	http://csswizardry.com/2012/02/pragmatic-practical-font-sizing-in-css



h1, h2, h3, h4, h5, h6 {
	margin: 0;

	font-family: $heading-font-family;
	font-weight: $font-weight-bold;
}



h1,.alpha{
    @include font-size($h1-size);
}


h2,.beta{
    @include font-size($h2-size);
}


h3,.gamma{
    @include font-size($h3-size);
}


h4,.delta{
    @include font-size($h4-size);
}


h5,.epsilon{
    @include font-size($h5-size);
}


h6,.zeta{
    @include font-size($h6-size);
}





//------------------------------------//
//  Links
//------------------------------------//

a {
	color: $text-color;
	cursor: pointer;
	text-decoration: none;

	&:visited 	{ color: $text-color; }
	&:hover, 	
	&:focus 	{ color: $text-color; }
	&:active 	{ color: $text-color; }

	padding-bottom: 2px;
	border-bottom: solid 2px black;

	text-transform: uppercase;

	font-family: $heading-font-family;
}





//------------------------------------//
//  Paragraphs
//------------------------------------//

p {
	@include font-size($font-size);
	line-height: $line-height;
}





//------------------------------------//
//  Decoration
//------------------------------------//

//
//	Italic
//

i, em {
	font-style: italic;
}



//
//	Bold
//

strong, b {
	font-weight: $font-weight-bold;
	font-family: $heading-font-family;
}



//
//	Deleted
//

del {
	text-decoration: line-through;
	opacity: 0.5;
}



//
//	Inserted
//

ins {
	text-decoration: none;
	background: $neutral-color;
}



//
//	Highlighted
//

mark {
	border-radius: $border-radius;

    padding: 0 0.25rem;

    text-align:center;

    background: #f5f5f5;
}





//------------------------------------//
//  Lists
//------------------------------------//

ul, 
ol {
	line-height: $line-height;
}



//
//	Ul
//

ul {
	list-style: disc;
}



//
//	Ol
//

ol {
	list-style: decimal;
}



//
//	Nested
//

ul,
ol {
	ol, 
	ul {
		margin-bottom: 0;
	}
}



//
//	Dl
//


dl {

}


dt {

}

dd {

}



@font-face {
    font-family: 'aqua_grotesqueregular';
    src: url('/public/fonts/aqua-webfont.eot');
    src: url('/public/fonts/aqua-webfont.eot?#iefix') format('embedded-opentype'),
         url('/public/fonts/aqua-webfont.woff2') format('woff2'),
         url('/public/fonts/aqua-webfont.woff') format('woff'),
         url('/public/fonts/aqua-webfont.ttf') format('truetype'),
         url('/public/fonts/aqua-webfont.svg#aqua_grotesqueregular') format('svg');
    font-weight: normal;
    font-style: normal;

}