/**
 * acollective.co
 * Copyright 2016 Rick Chadwick
 * @author rickary <rick@rickchadwick.co.uk>
 */
@font-face {
  font-family: 'apercu';
  src: url("/asseets/fonts/apercu-webfont.eot");
  src: url("/asseets/fonts/apercu-webfont.eot?#iefix") format("embedded-opentype"), url("/asseets/fonts/apercu-webfont.woff2") format("woff2"), url("/asseets/fonts/apercu-webfont.woff") format("woff"), url("/asseets/fonts/apercu-webfont.ttf") format("truetype"), url("/asseets/fonts/apercu-webfont.svg#apercuregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'apercu';
  src: url("/asseets/fonts/apercu-bold-webfont.eot");
  src: url("/asseets/fonts/apercu-bold-webfont.eot?#iefix") format("embedded-opentype"), url("/asseets/fonts/apercu-bold-webfont.woff2") format("woff2"), url("/asseets/fonts/apercu-bold-webfont.woff") format("woff"), url("/asseets/fonts/apercu-bold-webfont.ttf") format("truetype"), url("/asseets/fonts/apercu-bold-webfont.svg#apercubold") format("svg");
  font-weight: bold;
  font-style: normal; }

/*
|--------------------------------------------------------------------------
|	Shadows
|--------------------------------------------------------------------------
*/
/*
|	Inner
*/
/*
|	Drop
*/
/*
|	Text
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

header:after,
footer:after,
main:after,
div:after,
section:after,
article:after,
nav:after,
dl:after,
ul:after,
ol:after,
aside:after,
blockquote:after {
  content: "";
  display: table;
  clear: both; }

img, .u-img {
  max-width: 100%;
  width: 100%; }

.u-img--right {
  float: right;
  margin-left: 20px;
  margin-bottom: 20px; }

.u-img--left {
  float: left;
  margin-right: 20px;
  margin-bottom: 20px; }

.u-img--rounded {
  border-radius: 4px; }

.u-img--circle {
  border-radius: 100%; }

.u-float--right {
  float: right; }

.u-float--left {
  float: left; }

.u-text--left {
  text-align: left 		!important; }

.u-text--right {
  text-align: right 	!important; }

.u-text--center {
  text-align: center 	!important; }

.u-hide-text {
  display: inline-block;
  zoom: 1;
  *display: inline;
  text-indent: -999em;
  white-space: nowrap;
  overflow: hidden; }

.u-visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px); }

html {
  font-size: 100%; }

body {
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  -o-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -o-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-size: 16px;
  font-size: 1rem;
  background: #fff;
  color: #FD501E;
  font-family: "adobe-caslon-pro", serif;
  font-weight: normal;
  line-height: 1.5; }
  body ::selection {
    background: #ffede8;
    /* WebKit/Blink Browsers */ }
  body ::-moz-selection {
    background: #ffede8;
    /* Gecko Browsers */ }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: "apercu", sans-serif; }

h1, .alpha {
  font-size: 36px;
  font-size: 2.25rem; }

h2, .beta {
  font-size: 30px;
  font-size: 1.875rem; }

h3, .gamma {
  font-size: 24px;
  font-size: 1.5rem; }

h4, .delta {
  font-size: 20px;
  font-size: 1.25rem; }

h5, .epsilon {
  font-size: 16px;
  font-size: 1rem; }

h6, .zeta {
  font-size: 14px;
  font-size: 0.875rem; }

a {
  color: #FD501E;
  cursor: pointer;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

p {
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5; }

i, em {
  font-style: italic; }

strong, b {
  font-weight: bold; }

ul,
ol {
  line-height: 1.5; }

ul {
  list-style: disc; }

ol {
  list-style: decimal; }

ul ol,
ul ul,
ol ol,
ol ul {
  margin-bottom: 0; }

select, textarea, input {
  font-family: "adobe-caslon-pro", serif;
  font-size: 16px;
  font-size: 1rem; }

.b-container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 50px; }
  .lt-ie9 .b-container {
    padding: 0 10px; }
  @media screen and (max-width: 767px) {
    .b-container {
      padding: 0 10px; } }

.b-media {
  display: block; }

.b-media__img,
.b-media__object {
  float: left;
  margin-right: 20px; }

.b-media__img--rev,
.b-media__object--rev {
  float: right;
  margin-left: 20px; }

.b-media__img img,
.b-media__img--rev img {
  display: block; }

.b-media__body {
  overflow: hidden; }

.b-media__body,
.b-media__body > :last-child {
  margin-bottom: 0; }

@font-face {
  font-family: 'icomoon';
  src: url("/assets/fonts/icomoon.eot");
  src: url("/assets/fonts/icomoon.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/icomoon.woff") format("woff"), url("/assets/fonts/icomoon.ttf") format("truetype"), url("/assets/fonts/icomoon.svg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="b-icon--"]:before, [class*=" b-icon--"]:before {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.b-icon--close:before {
  content: "\f00d"; }

.b-icon--remove:before {
  content: "\f00d"; }

.b-icon--times:before {
  content: "\f00d"; }

.b-icon--arrow-left:before {
  content: "\f060"; }

.b-icon--arrow-right:before {
  content: "\f061"; }

.b-icon--plus:before {
  content: "\f067"; }

.b-icon--minus:before {
  content: "\f068"; }

.b-icon--calendar:before {
  content: "\f073"; }

.b-icon--twitter:before {
  content: "\f099"; }

.b-icon--facebook:before {
  content: "\f09a"; }

.b-icon--chain:before {
  content: "\f0c1"; }

.b-icon--link:before {
  content: "\f0c1"; }

.b-icon--menu:before {
  content: "\f0c9"; }

.b-icon--google-plus:before {
  content: "\f0d5"; }

.b-icon--mail:before {
  content: "\f0e0"; }

.b-icon--linkedin:before {
  content: "\f0e1"; }

.b-icon--instagram:before {
  content: "\f16d"; }

.b-icon--skype:before {
  content: "\f17e"; }

.b-icon--slack:before {
  content: "\f198"; }

.b-icon--wifi:before {
  content: "\f1eb"; }

.b-icon--commenting:before {
  content: "\f27a"; }

.b-nav {
  list-style: none;
  margin-left: 0; }
  .b-nav > li {
    display: inline; }
    .b-nav > li,
    .b-nav > li > a {
      display: inline-block;
      *display: inline;
      zoom: 1; }

.b-nav--banner {
  text-align: center; }

.b-nav--stacked > li {
  display: list-item; }
  .b-nav--stacked > li > a {
    display: block; }

.b-form-fields {
  list-style: none;
  margin: 0; }

.b-form-fields > li {
  margin: 0; }
  .b-form-fields > li:last-child {
    margin-bottom: 0; }

.slides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0; }

.slide {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0; }
  .slide:first-child {
    position: relative;
    display: block;
    float: left; }

.slide__img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0; }

.p-header {
  z-index: 9;
  background: white;
  padding-top: 30px;
  padding-bottom: 30px; }
  .p-header.is_stuck {
    -webkit-box-shadow: 0px 1px 4px 3px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 1px 4px 3px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 4px 3px rgba(0, 0, 0, 0.2); }
  .lt-ie9 .p-header {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px; }
  @media screen and (max-width: 767px) {
    .p-header {
      text-align: center;
      padding-top: 15px;
      padding-bottom: 15px; } }

.p-header__logo {
  display: block;
  float: left;
  width: 280px;
  height: 28px;
  background: url("/assets/img/logo.svg");
  background-size: cover;
  text-indent: -999em; }
  .lt-ie9 .p-header__logo {
    float: none;
    margin: 0 auto; }
  @media screen and (max-width: 767px) {
    .p-header__logo {
      float: none;
      margin: 0 auto; } }

.p-header__nav {
  font-family: "apercu", sans-serif;
  font-size: 18px;
  font-size: 1.125rem;
  font-weight: bold;
  line-height: 28px;
  text-transform: uppercase; }
  .p-header__nav .is-current a {
    text-decoration: underline; }
  .p-header__nav li {
    margin-right: 15px; }
    .p-header__nav li:last-child {
      margin-right: 0; }
  .lt-ie9 .p-header__nav {
    float: none;
    margin-top: 10px;
    font-size: 14px;
    font-size: 0.875rem; }
    .lt-ie9 .p-header__nav li {
      margin-right: 10px; }
  @media screen and (max-width: 767px) {
    .p-header__nav {
      float: none;
      margin-top: 10px;
      font-size: 14px;
      font-size: 0.875rem; }
      .p-header__nav li {
        margin-right: 10px; } }

.p-footer {
  padding-top: 90px;
  padding-bottom: 50px;
  font-family: "apercu", sans-serif;
  font-weight: bold; }
  .lt-ie9 .p-footer {
    padding: 20px 10px; }
  @media screen and (max-width: 767px) {
    .p-footer {
      padding: 20px 10px; } }

.p-footer__copy {
  float: left;
  font-size: 18px;
  font-size: 1.125rem; }
  .lt-ie9 .p-footer__copy {
    float: none;
    font-size: 14px; }
  @media screen and (max-width: 767px) {
    .p-footer__copy {
      float: none;
      font-size: 14px; } }

.p-footer__nav {
  float: right;
  font-size: 18px;
  font-size: 1.125rem; }
  .lt-ie9 .p-footer__nav {
    margin-top: 10px;
    float: none;
    font-size: 14px; }
  @media screen and (max-width: 767px) {
    .p-footer__nav {
      margin-top: 10px;
      float: none;
      font-size: 14px; } }
  .p-footer__nav li + li:before {
    content: "|" "\00A0";
    font-weight: normal; }

.p-hero {
  position: relative;
  min-height: 300px;
  border: solid 10px #FD501E;
  background-size: cover;
  background-position: center; }
  .p-hero:before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(253, 80, 30, 0.6); }
  .lt-ie9 .p-hero {
    border-width: 5px; }
  @media screen and (max-width: 767px) {
    .p-hero {
      border-width: 5px; } }

.p-hero__caption-list {
  display: block;
  width: 100%;
  height: 100%;
  list-style: none;
  margin: 0;
  padding: 0; }

.p-hero__caption {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 822px;
  height: 200px;
  margin-left: -411px;
  margin-top: -100px;
  z-index: 2;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  text-indent: -999em;
  opacity: 0; }
  .p-hero__caption.p-hero__caption--block-of-writers {
    background-image: url("/assets/img/sayings/hustle-of-entrpreneurs.png"); }
  .p-hero__caption.p-hero__caption--draw-of-illustrators {
    background-image: url("/assets/img/sayings/draw-of-illustrators.png"); }
  .p-hero__caption.p-hero__caption--flash-of-photographers {
    background-image: url("/assets/img/sayings/flash-of-photographers.png"); }
  .p-hero__caption.p-hero__caption--hustle-of-entrpreneurs {
    background-image: url("/assets/img/sayings/hustle-of-entrpreneurs.png"); }
  .p-hero__caption.p-hero__caption--justification-of-designers {
    background-image: url("/assets/img/sayings/justification-of-designers.png"); }
  .lt-ie9 .p-hero__caption {
    width: 616px;
    height: 150px;
    margin-top: -75px;
    margin-left: -308px; }
  @media screen and (max-width: 1000px) {
    .p-hero__caption {
      width: 616px;
      height: 150px;
      margin-top: -75px;
      margin-left: -308px; } }
  .lt-ie9 .p-hero__caption {
    width: 411px;
    height: 100px;
    margin-left: -205px;
    margin-top: -50px; }
  @media screen and (max-width: 767px) {
    .p-hero__caption {
      width: 411px;
      height: 100px;
      margin-left: -205px;
      margin-top: -50px; } }
  .lt-ie9 .p-hero__caption {
    width: 300px;
    height: 72px;
    margin-left: -150px;
    margin-top: -36px; }
  @media screen and (max-width: 500px) {
    .p-hero__caption {
      width: 300px;
      height: 72px;
      margin-left: -150px;
      margin-top: -36px; } }

.p-section {
  padding: 60px 0; }

.p-section--orange {
  background: #FD501E;
  color: white; }

.p-section--grey {
  background: #E5E5E5; }

.p-section__title {
  margin-bottom: 100px;
  font-family: "apercu", sans-serif;
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center; }
  .lt-ie9 .p-section__title {
    margin-bottom: 50px; }
  @media screen and (max-width: 767px) {
    .p-section__title {
      margin-bottom: 50px; } }

.p-section-text {
  max-width: 700px;
  margin: 60px auto;
  text-align: center; }
  .lt-ie9 .p-section-text {
    margin: 20px auto;
    padding: 0 10px; }
  @media screen and (max-width: 767px) {
    .p-section-text {
      margin: 20px auto;
      padding: 0 10px; } }

.p-section-text p {
  margin-bottom: 40px;
  font-size: 34px;
  font-size: 2.125rem;
  line-height: 42px; }
  .p-section-text p:last-child {
    margin-bottom: 0; }
  .lt-ie9 .p-section-text p {
    font-size: 20px;
    font-size: 1.25rem;
    line-height: 1.2;
    margin-bottom: 30px; }
  @media screen and (max-width: 767px) {
    .p-section-text p {
      font-size: 20px;
      font-size: 1.25rem;
      line-height: 1.2;
      margin-bottom: 30px; } }

.p-slides--large {
  width: 74.5%;
  margin-bottom: 100px; }
  .lt-ie9 .p-slides--large {
    width: 100%;
    margin-bottom: 30px; }
  @media screen and (max-width: 767px) {
    .p-slides--large {
      width: 100%;
      margin-bottom: 30px; } }

.p-two-slides {
  display: table;
  width: 100%;
  text-align: center; }
  .lt-ie9 .p-two-slides {
    display: block; }
  @media screen and (max-width: 767px) {
    .p-two-slides {
      display: block; } }

.p-two-slides__inner {
  display: table-cell;
  width: 50%;
  vertical-align: middle;
  text-align: center; }
  .lt-ie9 .p-two-slides__inner {
    display: block;
    width: 100%; }
  @media screen and (max-width: 767px) {
    .p-two-slides__inner {
      display: block;
      width: 100%; } }

.p-slides--small ul {
  width: 63%;
  margin: auto; }
  .lt-ie9 .p-slides--small ul {
    width: 100%;
    margin-bottom: 20px; }
  @media screen and (max-width: 767px) {
    .p-slides--small ul {
      width: 100%;
      margin-bottom: 20px; } }

.p-slides .slides__tabs,
.p-two-slides .slides__tabs {
  list-style: none;
  margin-top: 20px;
  margin-left: 0;
  text-align: center; }
  .lt-ie9 .p-slides .slides__tabs, .lt-ie9
  .p-two-slides .slides__tabs {
    margin-top: 10px; }
  @media screen and (max-width: 767px) {
    .p-slides .slides__tabs,
    .p-two-slides .slides__tabs {
      margin-top: 10px; } }
  .p-slides .slides__tabs > li,
  .p-two-slides .slides__tabs > li {
    display: inline;
    margin: 0 5px; }
    .p-slides .slides__tabs > li,
    .p-slides .slides__tabs > li > a,
    .p-two-slides .slides__tabs > li,
    .p-two-slides .slides__tabs > li > a {
      display: inline-block;
      *display: inline;
      zoom: 1; }
  .p-slides .slides__tabs li a,
  .p-two-slides .slides__tabs li a {
    display: block;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    border: solid 2px white;
    text-indent: -999em; }
  .p-slides .slides__tabs li.slides__here a,
  .p-two-slides .slides__tabs li.slides__here a {
    background: white; }

.p-slides--small .slides__tabs {
  width: 63%;
  margin-left: auto;
  margin-right: auto; }

.p-member-table-container {
  display: inline;
  float: left;
  width: 49.39759%;
  margin-left: 1.20482%;
  padding: 0 5px; }
  .p-member-table-container:first-child {
    margin-left: 0; }
  .lt-ie9 .p-member-table-container {
    width: 100%;
    margin-left: 0; }
  @media screen and (max-width: 767px) {
    .p-member-table-container {
      width: 100%;
      margin-left: 0; } }

.p-member-table {
  border: solid 3px #FD501E;
  text-align: center; }

.lt-ie9 .p-member-table--desk {
  margin-bottom: 30px; }

@media screen and (max-width: 767px) {
  .p-member-table--desk {
    margin-bottom: 30px; } }

.p-member-table__header {
  display: table;
  width: 100%;
  height: 120px;
  border-bottom: solid 3px #FD501E;
  text-transform: uppercase;
  font-weight: bold; }

.p-member-table__title {
  display: table-cell;
  vertical-align: middle;
  font-size: 20px; }
  .lt-ie9 .p-member-table__title {
    font-size: 18px; }
  @media screen and (max-width: 767px) {
    .p-member-table__title {
      font-size: 18px; } }

.p-member-table--desk .p-member-table__title {
  width: 65%; }

.p-member-table__price {
  display: table-cell;
  vertical-align: middle;
  font-family: "apercu", sans-serif;
  font-size: 20px; }
  .lt-ie9 .p-member-table__price {
    font-size: 18px; }
  @media screen and (max-width: 767px) {
    .p-member-table__price {
      font-size: 18px; } }

.p-member-table--desk .p-member-table__price {
  width: 35%;
  border-left: solid 3px #FD501E; }

.p-member-table--desk .p-member-table__desc {
  padding: 40px 20px; }
  .lt-ie9 .p-member-table--desk .p-member-table__desc {
    padding: 30px 15px; }
  @media screen and (max-width: 767px) {
    .p-member-table--desk .p-member-table__desc {
      padding: 30px 15px; } }

.p-member-table--studio .p-member-table__desc {
  padding: 100px 20px; }
  .lt-ie9 .p-member-table--studio .p-member-table__desc {
    padding: 30px 15px; }
  @media screen and (max-width: 767px) {
    .p-member-table--studio .p-member-table__desc {
      padding: 30px 15px; } }

.p-member-table__studios-container {
  border-top: solid 3px #FD501E; }

.p-member-table__studios {
  display: inline;
  float: left;
  width: 50%;
  font-family: "apercu", sans-serif;
  text-transform: uppercase; }
  .p-member-table__studios.is-unavailable {
    background: #FD501E;
    color: white; }

.is-available.p-member-table__studios--two {
  border-left: solid 3px #FD501E; }

.is-unavailable.p-member-table__studios--two {
  border-left: solid 3px white; }

.p-member-table__studios-label {
  height: 50px;
  border-bottom: solid 3px #FD501E;
  line-height: 50px; }

.is-unavailable .p-member-table__studios-label {
  border-color: white; }

.p-member-table__studios-price {
  height: 100px;
  font-size: 20px;
  line-height: 100px;
  font-weight: bold; }

.p-member-table__waiting {
  display: block;
  height: 50px;
  border-top: solid 3px #FD501E;
  line-height: 50px;
  text-transform: uppercase;
  font-family: "apercu", sans-serif;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }
  .p-member-table__waiting:hover {
    background: #FD501E;
    color: white;
    text-decoration: none; }

.p-free {
  margin: 150px auto;
  text-align: center; }
  .p-free li {
    margin: 0 30px;
    font-size: 30px;
    text-transform: uppercase;
    font-family: "apercu", sans-serif;
    font-weight: bold;
    line-height: 1.2; }
    .p-free li span {
      display: inline-block;
      max-width: 150px; }
  .lt-ie9 .p-free {
    margin: 30px auto; }
    .lt-ie9 .p-free li {
      margin: 0 auto;
      margin-bottom: 30px; }
  @media screen and (max-width: 767px) {
    .p-free {
      margin: 30px auto; }
      .p-free li {
        margin: 0 auto;
        margin-bottom: 30px; } }

.p-free-item--one {
  width: 237px;
  height: 133px;
  vertical-align: middle;
  padding-top: 28px;
  background-image: url("/assets/img/shape--ticket.png");
  background-repeat: no-repeat; }
  @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    .p-free-item--one {
      background-image: url("/assets/img/shape--ticket@2x.png");
      -webkit-background-size: 237px 133px;
      -moz-background-size: 237px 133px;
      -o-background-size: 237px 133px;
      background-size: 237px 133px; } }

.p-free-item--two {
  width: 227px;
  height: 224px;
  vertical-align: middle;
  padding-top: 55px;
  background-image: url("/assets/img/shape--star.png");
  background-repeat: no-repeat; }
  @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    .p-free-item--two {
      background-image: url("/assets/img/shape--star@2x.png");
      -webkit-background-size: 227px 224px;
      -moz-background-size: 227px 224px;
      -o-background-size: 227px 224px;
      background-size: 227px 224px; } }

.p-free-item--three {
  width: 224px;
  height: 133px;
  vertical-align: middle;
  padding-top: 28px;
  background-image: url("/assets/img/shape--oval.png");
  background-repeat: no-repeat; }
  @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    .p-free-item--three {
      background-image: url("/assets/img/shape--oval@2x.png");
      -webkit-background-size: 224px 133px;
      -moz-background-size: 224px 133px;
      -o-background-size: 224px 133px;
      background-size: 224px 133px; } }

.p-map {
  padding: 200px 0 170px 0;
  background: url("/assets/img/map.jpg");
  background-size: cover;
  background-position: cover;
  color: white;
  text-align: center;
  font-size: 50px; }
  .p-map a {
    color: white;
    line-height: 1; }
  .p-map span {
    display: block;
    font-size: 100px;
    line-height: 50px; }
  .lt-ie9 .p-map {
    padding: 50px 0;
    font-size: 20px; }
    .lt-ie9 .p-map span {
      font-size: 50px; }
  @media screen and (max-width: 767px) {
    .p-map {
      padding: 50px 0;
      font-size: 20px; }
      .p-map span {
        font-size: 50px; } }

.p-meeting-rates-container {
  display: table;
  width: 100%;
  max-width: 750px;
  margin: 0 auto 60px auto;
  border: solid 3px #FD501E; }
  .p-meeting-rates-container p {
    padding: 30px;
    text-align: center;
    vertical-align: middle;
    font-family: "apercu", sans-serif;
    font-weight: bold;
    text-transform: uppercase; }
    .p-meeting-rates-container p span {
      display: block; }

.p-meeting-rates--half {
  width: 50%;
  border-right: solid 3px #FD501E; }

.p-meeting-rates--full {
  border-top: solid 3px #FD501E; }

.p-meeting-rates__cta {
  display: block;
  width: 300px;
  height: 300px;
  margin: 160px auto;
  padding-top: 100px;
  background: white;
  border-radius: 100%;
  border: solid 3px white;
  text-align: center;
  text-transform: uppercase;
  font-family: "apercu", sans-serif;
  font-size: 30px;
  font-weight: bold;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }
  .p-meeting-rates__cta:hover {
    background: #FD501E;
    color: white;
    text-decoration: none; }
  .lt-ie9 .p-meeting-rates__cta {
    margin: 0 auto; }
  @media screen and (max-width: 767px) {
    .p-meeting-rates__cta {
      margin: 0 auto; } }

.p-meeting__container {
  display: inline;
  float: left;
  width: 49.39759%;
  margin-left: 1.20482%; }
  .p-meeting__container:first-child {
    margin-left: 0; }
  .lt-ie9 .p-meeting__container {
    width: 100%;
    margin-left: 0; }
  @media screen and (max-width: 767px) {
    .p-meeting__container {
      width: 100%;
      margin-left: 0; } }

.p-meeting {
  position: relative;
  display: table;
  width: 480px;
  height: 480px;
  margin: 0 auto 40px auto;
  padding-top: 30px;
  border-radius: 100%; }
  .lt-ie9 .p-meeting {
    width: 300px;
    height: 300px;
    padding-top: 20px; }
  @media screen and (max-width: 767px) {
    .p-meeting {
      width: 300px;
      height: 300px;
      padding-top: 20px; } }

.p-meeting--always {
  border: solid 3px #FD501E; }

.p-meeting--optional {
  border: dotted 3px #FD501E; }

.p-meeting__inner {
  display: table-cell;
  vertical-align: middle;
  text-align: center; }

.p-meeting__title {
  position: absolute;
  top: 60px;
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold; }
  .lt-ie9 .p-meeting__title {
    top: 40px; }
  @media screen and (max-width: 767px) {
    .p-meeting__title {
      top: 40px; } }

.p-meeting__list {
  font-size: 30px; }
  .lt-ie9 .p-meeting__list {
    font-size: 18px; }
  @media screen and (max-width: 767px) {
    .p-meeting__list {
      font-size: 18px; } }

.p-viewing-container {
  position: relative;
  max-width: 980px;
  margin: 0 auto 60px auto;
  border: solid 3px white;
  vertical-align: top; }

.p-viewing-details {
  display: inline-block;
  width: 39%;
  border-right: solid 3px white; }
  .p-viewing-details li {
    border-bottom: solid 3px white; }
    .p-viewing-details li:last-child {
      border-bottom: 0; }
  .lt-ie9 .p-viewing-details {
    width: 100%;
    border-right: 0; }
    .lt-ie9 .p-viewing-details li:last-child {
      border-bottom: solid 3px white; }
  @media screen and (max-width: 767px) {
    .p-viewing-details {
      width: 100%;
      border-right: 0; }
      .p-viewing-details li:last-child {
        border-bottom: solid 3px white; } }
  .p-viewing-details label {
    display: none; }
  .p-viewing-details input {
    width: 100%;
    height: 50px;
    border: none;
    background: none;
    padding: 0 10px;
    color: white;
    text-transform: uppercase;
    font-family: "apercu", sans-serif; }
    .p-viewing-details input.placeholder {
      color: white; }
    .p-viewing-details input:-moz-placeholder {
      color: white; }
    .p-viewing-details input::-webkit-input-placeholder {
      color: white; }

.p-viewing-message {
  display: inline-block;
  width: 39%;
  vertical-align: top; }
  .lt-ie9 .p-viewing-message {
    width: 100%; }
  @media screen and (max-width: 767px) {
    .p-viewing-message {
      width: 100%; } }
  .p-viewing-message label {
    display: block;
    height: 50px;
    line-height: 50px;
    padding: 0 10px;
    text-transform: uppercase;
    font-family: "apercu", sans-serif;
    color: white; }
  .p-viewing-message textarea {
    width: 100%;
    height: 145px;
    border: none;
    background: none;
    padding: 5px 10px;
    color: white;
    text-transform: uppercase;
    font-family: "apercu", sans-serif; }

.p-viewing-btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 20%;
  height: 100%;
  vertical-align: top;
  background: white; }
  .lt-ie9 .p-viewing-btn {
    position: relative;
    display: block;
    width: 100%;
    height: 50px; }
  @media screen and (max-width: 767px) {
    .p-viewing-btn {
      position: relative;
      display: block;
      width: 100%;
      height: 50px; } }
  .p-viewing-btn input {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 100%;
    border-radius: 0;
    border: none;
    border-left: solid 3px white;
    background: none;
    cursor: pointer;
    color: #FD501E;
    text-transform: uppercase;
    font-family: "apercu", sans-serif;
    font-weight: bold;
    font-size: 20px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }
    .p-viewing-btn input:hover {
      background: #FD501E;
      color: white; }

.p-quote-container {
  position: relative;
  min-height: 200px; }

.p-quotes {
  max-width: 600px;
  margin: 60px auto;
  text-align: center; }
  .lt-ie9 .p-quotes {
    margin: 20px auto; }
  @media screen and (max-width: 767px) {
    .p-quotes {
      margin: 20px auto; } }

.p-quote-item {
  display: table !important;
  width: 100%;
  min-height: 200px; }

.p-quote {
  display: table-cell;
  vertical-align: middle; }
  .p-quote p {
    font-size: 28px; }
    .lt-ie9 .p-quote p {
      font-size: 20px; }
    @media screen and (max-width: 767px) {
      .p-quote p {
        font-size: 20px; } }

.p-quote__cite {
  display: block;
  margin-top: 30px;
  font-family: "apercu", sans-serif;
  font-weight: bold; }
  .lt-ie9 .p-quote__cite {
    margin-top: 20px; }
  @media screen and (max-width: 767px) {
    .p-quote__cite {
      margin-top: 20px; } }

.p-quotes__nav {
  position: absolute;
  top: 50%;
  width: 34px;
  height: 28px;
  margin-top: -60px;
  text-indent: -999em; }
  .lt-ie9 .p-quotes__nav {
    display: none; }
  @media screen and (max-width: 767px) {
    .p-quotes__nav {
      display: none; } }

.p-quotes__nav.prev {
  left: 10px;
  background-image: url("/assets/img/left.png");
  background-repeat: no-repeat; }
  @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    .p-quotes__nav.prev {
      background-image: url("/assets/img/left@2x.png");
      -webkit-background-size: 34px 28px;
      -moz-background-size: 34px 28px;
      -o-background-size: 34px 28px;
      background-size: 34px 28px; } }

.p-quotes__nav.next {
  right: 10px;
  background-image: url("/assets/img/right.png");
  background-repeat: no-repeat; }
  @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    .p-quotes__nav.next {
      background-image: url("/assets/img/right@2x.png");
      -webkit-background-size: 34px 28px;
      -moz-background-size: 34px 28px;
      -o-background-size: 34px 28px;
      background-size: 34px 28px; } }

.p-faq {
  margin-bottom: 40px;
  -webkit-column-count: 3;
  /* Chrome, Safari, Opera */
  -moz-column-count: 3;
  /* Firefox */
  column-count: 3;
  -webkit-column-gap: 40px;
  /* Chrome, Safari, Opera */
  -moz-column-gap: 40px;
  /* Firefox */
  column-gap: 40px; }
  .lt-ie9 .p-faq {
    margin-bottom: 0;
    -webkit-column-count: 1;
    /* Chrome, Safari, Opera */
    -moz-column-count: 1;
    /* Firefox */
    column-count: 1; }
  @media screen and (max-width: 767px) {
    .p-faq {
      margin-bottom: 0;
      -webkit-column-count: 1;
      /* Chrome, Safari, Opera */
      -moz-column-count: 1;
      /* Firefox */
      column-count: 1; } }

.p-faq__item {
  padding-bottom: 30px;
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid; }

.p-faq__question {
  margin-bottom: 5px;
  font-family: "apercu", sans-serif;
  font-weight: bold; }

.p-event {
  display: inline-block;
  display: inline;
  float: left;
  width: 32.53012%;
  margin-left: 1.20482%;
  border: solid 3px #FD501E;
  text-align: center; }
  .p-event:first-child {
    margin-left: 0; }
  .lt-ie9 .p-event {
    width: 100%;
    margin-left: 0;
    margin-top: 30px; }
  @media screen and (max-width: 767px) {
    .p-event {
      width: 100%;
      margin-left: 0;
      margin-top: 30px; } }

.p-event__heading {
  font-size: 16px;
  border-bottom: solid 3px #FD501E;
  text-transform: uppercase;
  padding: 20px;
  font-weight: bold; }

.p-event__inner {
  padding: 40px 20px; }

.p-event__title {
  margin-bottom: 10px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold; }

.p-event__desc {
  margin-bottom: 20px; }
  .p-event__desc p {
    font-size: 20px; }
  .p-event__desc a {
    text-decoration: underline; }
    .p-event__desc a:hover {
      text-decoration: none; }

.p-event__date,
.p-event__location {
  font-family: "apercu", sans-serif;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase; }

.p-community-container {
  display: inline;
  float: left;
  width: 49.39759%;
  margin-left: 1.20482%; }
  .p-community-container:first-child {
    margin-left: 0; }
  .lt-ie9 .p-community-container {
    width: 100%;
    margin-left: 0; }
  @media screen and (max-width: 767px) {
    .p-community-container {
      width: 100%;
      margin-left: 0; } }

.p-social-links {
  width: 235px;
  height: 235px;
  margin: 0 auto;
  border-radius: 100%;
  border: dotted 3px #FD501E;
  text-align: center; }
  .p-social-links h3 {
    margin-top: 60px;
    font-family: "apercu", sans-serif;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold; }
  .p-social-links li {
    margin: 20px 10px; }
  .p-social-links a {
    padding: 10px;
    -webkit-transition: color 0.2s ease-in-out;
    -moz-transition: color 0.2s ease-in-out;
    -ms-transition: color 0.2s ease-in-out;
    -o-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out; }
    .p-social-links a:hover {
      text-decoration: none; }
      .p-social-links a:hover.b-icon--twitter {
        color: #33ccff; }
      .p-social-links a:hover.b-icon--facebook {
        color: #3b5998; }
  .p-social-links a:before {
    font-size: 40px; }

.p-listen {
  width: 236px;
  height: 236px;
  margin: 0 auto;
  border-radius: 100%;
  border: solid 3px #FD501E;
  text-align: center; }
  .p-listen h3 {
    margin-top: 60px;
    margin-bottom: 20px;
    font-family: "apercu", sans-serif;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold; }

.p-member {
  margin: 0 50px 50px 50px; }
  .lt-ie9 .p-member {
    margin: 0 20px 20px 20px;
    width: 110px;
    vertical-align: top; }
  @media screen and (max-width: 767px) {
    .p-member {
      margin: 0 20px 20px 20px;
      width: 110px;
      vertical-align: top; } }

.p-member__image {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  border: solid 5px #FD501E; }
  .lt-ie9 .p-member__image {
    width: 110px;
    height: 110px; }
  @media screen and (max-width: 767px) {
    .p-member__image {
      width: 110px;
      height: 110px; } }

.p-member a:hover .p-member__image {
  border-color: white; }

.p-member__name {
  color: white;
  font-size: 14px; }
