/**
 * acollective.co
 * Copyright 2016 Rick Chadwick
 * @author rickary <rick@rickchadwick.co.uk>
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

header:after,
footer:after,
main:after,
div:after,
section:after,
article:after,
nav:after,
dl:after,
ul:after,
ol:after,
aside:after,
blockquote:after {
  content: "";
  display: table;
  clear: both; }

img, .u-img {
  max-width: 100%;
  width: 100%; }

.u-img--right {
  float: right;
  margin-left: 20px;
  margin-bottom: 20px; }

.u-img--left {
  float: left;
  margin-right: 20px;
  margin-bottom: 20px; }

.u-img--rounded {
  border-radius: 4px; }

.u-img--circle {
  border-radius: 100%; }

.u-float--right {
  float: right; }

.u-float--left {
  float: left; }

.u-text--left {
  text-align: left 		!important; }

.u-text--right {
  text-align: right 	!important; }

.u-text--center {
  text-align: center 	!important; }

.u-hide-text {
  display: inline-block;
  zoom: 1;
  *display: inline;
  text-indent: -999em;
  white-space: nowrap;
  overflow: hidden; }

.u-visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px); }

html {
  font-size: 100%; }

body {
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  -o-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -o-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-size: 16px;
  font-size: 1rem;
  background: #fff;
  color: #FD501E;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: normal;
  line-height: 1.5; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: Helvetica, sans-serif;
  font-weight: bold; }

h1, .alpha {
  font-size: 36px;
  font-size: 2.25rem; }

h2, .beta {
  font-size: 30px;
  font-size: 1.875rem; }

h3, .gamma {
  font-size: 24px;
  font-size: 1.5rem; }

h4, .delta {
  font-size: 20px;
  font-size: 1.25rem; }

h5, .epsilon {
  font-size: 16px;
  font-size: 1rem; }

h6, .zeta {
  font-size: 14px;
  font-size: 0.875rem; }

a {
  color: #FD501E;
  cursor: pointer; }

p {
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5; }

i, em {
  font-style: italic; }

strong, b {
  font-weight: bold; }

ul,
ol {
  line-height: 1.5; }

ul {
  list-style: disc; }

ol {
  list-style: decimal; }

ul ol,
ul ul,
ol ol,
ol ul {
  margin-bottom: 0; }

select, textarea, input {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-size: 1rem; }

.b-container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 50px; }
  .lt-ie9 .b-container {
    padding: 0 20px; }
  @media screen and (max-width: 767px) {
    .b-container {
      padding: 0 20px; } }

.b-media {
  display: block; }

.b-media__img,
.b-media__object {
  float: left;
  margin-right: 20px; }

.b-media__img--rev,
.b-media__object--rev {
  float: right;
  margin-left: 20px; }

.b-media__img img,
.b-media__img--rev img {
  display: block; }

.b-media__body {
  overflow: hidden; }

.b-media__body,
.b-media__body > :last-child {
  margin-bottom: 0; }

.b-nav {
  list-style: none;
  margin-left: 0; }
  .b-nav > li {
    display: inline; }
    .b-nav > li,
    .b-nav > li > a {
      display: inline-block;
      *display: inline;
      zoom: 1; }

.b-nav--banner {
  text-align: center; }

.b-nav--stacked > li {
  display: list-item; }
  .b-nav--stacked > li > a {
    display: block; }

.b-form-fields {
  list-style: none;
  margin: 0; }

.b-form-fields > li {
  margin: 0; }
  .b-form-fields > li:last-child {
    margin-bottom: 0; }

.p-header {
  padding-top: 30px;
  padding-bottom: 30px; }

.p-header__logo {
  display: block;
  float: left;
  width: 280px;
  height: 28px;
  background: url("/assets/img/logo.svg");
  background-size: cover;
  text-indent: -999em; }

.p-hero {
  position: relative;
  min-height: 300px;
  border: solid 10px #FD501E;
  background-size: cover;
  background-position: center; }
  .p-hero:before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(253, 80, 30, 0.6); }
  .lt-ie9 .p-hero {
    border-width: 5px; }
  @media screen and (max-width: 767px) {
    .p-hero {
      border-width: 5px; } }

.p-hero__caption-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: table;
  width: 100%;
  height: 100%; }

.p-hero__caption {
  display: none;
  position: relative;
  vertical-align: middle;
  text-align: center;
  margin: auto;
  z-index: 2;
  background-repeat: no-repeat;
  background-size: 75%;
  background-position: center;
  text-indent: -999em; }
  .p-hero__caption.p-hero__caption--block-of-writers {
    background-image: url("/assets/img/sayings/hustle-of-entrpreneurs.svg"); }
  .p-hero__caption.p-hero__caption--draw-of-illustrators {
    background-image: url("/assets/img/sayings/draw-of-illustrators.svg"); }
  .p-hero__caption.p-hero__caption--flash-of-photographers {
    background-image: url("/assets/img/sayings/flash-of-photographers.svg"); }
  .p-hero__caption.p-hero__caption--hustle-of-entrpreneurs {
    background-image: url("/assets/img/sayings/hustle-of-entrpreneurs.svg"); }
  .p-hero__caption.p-hero__caption--justification-of-designers {
    background-image: url("/assets/img/sayings/justification-of-designers.svg"); }
