/**
 * ukcabins.com
 * 2014/15 - website for ukcabins.com by Designition
 * @author rickary <hello@madeinbeta.co.uk>
 * @version 2.0.0
 */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

header:after, footer:after, main:after, div:after, section:after, article:after, nav:after, dl:after, ul:after, ol:after, aside:after, blockquote:after {
  content: "";
  display: table;
  clear: both; }

img, .img {
  max-width: 100%;
  width: 100%; }

.img--right {
  float: right;
  margin-left: 20px;
  margin-bottom: 20px; }

.img--left {
  float: left;
  margin-right: 20px;
  margin-bottom: 20px; }

.img--rounded {
  border-radius: 4px; }

.img--circle {
  border-radius: 100%; }

.float--right {
  float: right; }

.float--left {
  float: left; }

.text--left {
  text-align: left 		!important; }

.text--right {
  text-align: right 	!important; }

.text--center {
  text-align: center 	!important; }

.hide-text {
  display: inline-block;
  text-indent: -999em;
  white-space: nowrap;
  overflow: hidden; }

html {
  font-size: 100%; }

body {
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  -o-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -o-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-size: 16px;
  font-size: 1rem;
  background: #fff;
  color: #000;
  font-family: 'aktiv-grotesk-std', sans-serif;
  font-weight: 400;
  line-height: 1.5; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: 'adobe-caslon-pro', sans-serif;
  font-weight: 700; }

h1, .alpha {
  font-size: 24px;
  font-size: 1.5rem; }

h2, .beta {
  font-size: 20px;
  font-size: 1.25rem; }

h3, .gamma {
  font-size: 18px;
  font-size: 1.125rem; }

h4, .delta {
  font-size: 16px;
  font-size: 1rem; }

h5, .epsilon {
  font-size: 16px;
  font-size: 1rem; }

h6, .zeta {
  font-size: 14px;
  font-size: 0.875rem; }

a {
  color: #000;
  cursor: pointer;
  text-decoration: none; }
  a:visited {
    color: #000; }
  a:hover, a:focus {
    color: #000; }
  a:active {
    color: #000; }

p {
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5; }

i, em {
  font-style: italic; }

strong, b {
  font-weight: 700;
  font-family: 'adobe-caslon-pro', sans-serif; }

del {
  text-decoration: line-through;
  opacity: 0.5; }

ins {
  text-decoration: none;
  background: #44484c; }

mark {
  border-radius: 4px;
  padding: 0 0.25rem;
  text-align: center;
  background: #f5f5f5; }

ul, ol {
  line-height: 1.5; }

ul {
  list-style: disc; }

ol {
  list-style: decimal; }

ul ol, ul ul, ol ol, ol ul {
  margin-bottom: 0; }

@font-face {
  font-family: 'aqua_grotesqueregular';
  src: url('/public/fonts/aqua-webfont.eot');
  src: url('/public/fonts/aqua-webfont.eot?#iefix') format('embedded-opentype'), url('/public/fonts/aqua-webfont.woff2') format('woff2'), url('/public/fonts/aqua-webfont.woff') format('woff'), url('/public/fonts/aqua-webfont.ttf') format('truetype'), url('/public/fonts/aqua-webfont.svg#aqua_grotesqueregular') format('svg');
  font-weight: normal;
  font-style: normal; }

label, select, textarea, input {
  font-family: 'aktiv-grotesk-std', sans-serif;
  font-size: 14px;
  font-size: 0.875rem; }

.wrapper {
  width: 100%;
  max-width: 550px;
  margin: 0 auto; }

.container {
  width: 100%;
  max-width: 87.5em;
  margin: 0 auto;
  padding: 16px;
  padding: 1rem; }

@media screen and (min-width: 37.5em) {
  .tablet--half {
    display: inline;
    float: left;
    width: 49.39759%;
    margin-left: 1.20482%; }
    .tablet--half:first-child {
      margin-left: 0; }
  .grid-row {
    clear: both;
    margin-left: 0; } }

.media {
  display: block; }

.media__img, .media__object {
  float: left;
  margin-right: 20px; }

.media__img--rev, .media__object--rev {
  float: right;
  margin-left: 20px; }

.media__img img, .media__img--rev img {
  display: block; }

.media__body {
  overflow: hidden; }

.media__body, .media__body > :last-child {
  margin-bottom: 0; }

.embed-container--video, .embed-container--instagram, .embed-container--maps {
  position: relative;
  height: 0;
  overflow: hidden;
  padding-top: 30px; }

.embed-container--video iframe, .embed-container--instagram iframe, .embed-container--maps iframe, .embed-container object, .embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.embed-container--video {
  max-width: 100%;
  height: auto;
  padding-bottom: 56.25%; }

.embed-container--instagram {
  padding-bottom: 120%; }

.embed-container--maps {
  max-width: 100%;
  height: auto;
  padding-bottom: 56.25%; }

.nav {
  list-style: none;
  margin-left: 0; }
  .nav > li {
    display: inline; }
    .nav > li, .nav > li > a {
      display: inline-block;
      *display: inline;
      zoom: 1; }

.nav--banner {
  text-align: center; }

.nav--stacked > li {
  display: list-item; }
  .nav--stacked > li > a {
    display: block; }

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1; }

.header__logo {
  float: right;
  display: block;
  width: 70px;
  height: 70px;
  background-image: url('/public/images/logo.png');
  background-repeat: no-repeat; }
  @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    .header__logo {
      background-image: url('/public/images/logo@2x.png');
      -webkit-background-size: 70px 70px;
      -moz-background-size: 70px 70px;
      -o-background-size: 70px 70px;
      background-size: 70px 70px; } }

.header__nav {
  float: left;
  font-family: 'aktiv-grotesk-std', sans-serif;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.3; }
  .header__nav li {
    margin-bottom: 0; }

.footer {
  padding: 1em; }
  .footer, .footer p {
    font-family: 'aktiv-grotesk-std', sans-serif;
    font-size: 12px;
    font-size: 0.75rem; }
  @media screen and (min-width: 37.5em) {
    .footer {
      padding: 1em 2em; } }

.footer__copy {
  float: left; }

.footer__nav {
  float: right; }
  .footer__nav li {
    margin-left: 1em; }

.form-fields {
  list-style: none;
  margin: 0 !important; }

.form-fields > li {
  margin-bottom: 20px; }
  .form-fields > li:last-child {
    margin-bottom: 0; }

form {
  width: 100%; }

label {
  display: inline-block;
  width: 100px;
  vertical-align: top;
  padding: 2px 0; }

input, textarea, select {
  display: inline-block;
  width: calc(100% - 105px);
  border: 0;
  border-radius: 0;
  padding: 2px 5px; }

input[type="submit"] {
  float: right;
  line-height: 1; }

form p {
  margin-bottom: 2em; }

.rates {
  margin-top: 1em;
  padding: 0;
  list-style: none; }

.rates-table {
  display: block;
  margin-bottom: 2em;
  padding-bottom: 2em;
  border-bottom: dotted 1px white; }
  .rates-table:last-child {
    padding-bottom: 0;
    border: none; }

.rates-table__title {
  margin-bottom: 0.5em;
  font-size: 22px;
  font-size: 1.375rem;
  font-style: italic; }

.rates-table__body p {
  font-size: 14px;
  font-size: 0.875rem;
  font-family: 'aktiv-grotesk-std', sans-serif; }

.rates-table__cta {
  margin-top: 1em; }

p.rates-price {
  float: left;
  margin-bottom: 0;
  line-height: 30px;
  font-family: 'aktiv-grotesk-std', sans-serif; }

p .rates-price__price {
  font-size: 20px;
  font-size: 1.25rem; }

.rates-price__frequency, .rates-price__from {
  font-size: 14px;
  font-size: 0.875rem; }

.rates-price__vat {
  font-size: 11px;
  font-size: 0.6875rem;
  font-family: 'aktiv-grotesk-std', sans-serif; }

.rates-btn {
  float: right;
  font-size: 14px;
  font-size: 0.875rem; }

.btn {
  -webkit-appearance: none;
  appearance: none;
  display: block;
  width: 100px;
  height: 30px;
  background: none;
  color: white;
  border: solid 1px white;
  border-radius: 0;
  line-height: 30px;
  text-align: center;
  cursor: pointer; }

.home {
  position: relative;
  display: table;
  width: 100%;
  height: 100%; }
  .home.home--white {
    background: white;
    color: black; }
  .home.home--black {
    background: black;
    color: white; }
    .home.home--black a {
      color: white !important; }
  .home:after, .home:before {
    position: absolute;
    display: block;
    content: ''; }
  .home:before {
    top: 1em;
    right: 1em; }
  .home:after {
    bottom: 1em;
    left: 1em; }

.home--one:after {
  width: 136px;
  height: 100px;
  background-image: url('/public/images/type--22.png');
  background-repeat: no-repeat; }
  @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    .home--one:after {
      background-image: url('/public/images/type--22@2x.png');
      -webkit-background-size: 136px 100px;
      -moz-background-size: 136px 100px;
      -o-background-size: 136px 100px;
      background-size: 136px 100px; } }

.home--two:before {
  width: 416px;
  height: 100px;
  background-image: url('/public/images/type--work.png');
  background-repeat: no-repeat; }
  @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    .home--two:before {
      background-image: url('/public/images/type--work@2x.png');
      -webkit-background-size: 416px 100px;
      -moz-background-size: 416px 100px;
      -o-background-size: 416px 100px;
      background-size: 416px 100px; } }
.home--two:after {
  position: absolute;
  bottom: 1em;
  left: 1em;
  width: 446px;
  height: 100px;
  background-image: url('/public/images/type--play.png');
  background-repeat: no-repeat; }
  @media screen and (min-width: 37.5em) {
    .home--two:after {
      left: 2em; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    .home--two:after {
      background-image: url('/public/images/type--play@2x.png');
      -webkit-background-size: 446px 100px;
      -moz-background-size: 446px 100px;
      -o-background-size: 446px 100px;
      background-size: 446px 100px; } }

.home__section-inner {
  display: table-cell;
  vertical-align: middle;
  padding: 160px 0; }
  .home__section-inner p {
    font-size: 16px;
    font-size: 1rem;
    margin-bottom: 1em; }
  .home__section-inner ul {
    margin-bottom: 1em;
    margin-left: 2em;
    font-size: 16px;
    font-size: 1rem; }

.home__section-title {
  font-style: italic;
  margin-bottom: 1em; }

.home__section-top {
  position: absolute;
  bottom: 1em;
  right: 1em;
  width: 30px;
  height: 30px;
  font-family: 'aktiv-grotesk-std', sans-serif;
  font-size: 14px;
  font-size: 0.875rem;
  background-image: url('/public/images/to-top.png');
  background-repeat: no-repeat;
  text-indent: -999em; }
  @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    .home__section-top {
      background-image: url('/public/images/to-top@2x.png');
      -webkit-background-size: 30px 30px;
      -moz-background-size: 30px 30px;
      -o-background-size: 30px 30px;
      background-size: 30px 30px; } }

.home--black .home__section-top {
  background-image: url('/public/images/to-top--white.png');
  background-repeat: no-repeat; }
  @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    .home--black .home__section-top {
      background-image: url('/public/images/to-top--white@2x.png');
      -webkit-background-size: 30px 30px;
      -moz-background-size: 30px 30px;
      -o-background-size: 30px 30px;
      background-size: 30px 30px; } }

.home--membership {
  padding: 160px 0; }
  .home--membership .home__section-inner {
    padding: 0; }

.home__break-one {
  height: 400px; }

.home__break-two {
  background: url('/public/images/desks.jpg') 0 0 no-repeat;
  background-size: cover;
  background-position: center; }
  .home__break-two img {
    margin: 2em 0; }

.home--enquire {
  padding: 160px 0; }

.home__map {
  height: 200px;
  padding: 0; }
