.p-community-container {
	@include grid-basic(6);

	@include mq($bp-mobile, max) {
		width: 100%;
		margin-left: 0;
	}
}


.p-social-links {
	width: 235px;
	height: 235px;

	margin: 0 auto;

	border-radius: 100%;
	border: dotted 3px $color-theme;

	text-align: center;

	h3 {
		margin-top: 60px;
		font-family: $heading-font-family;
		text-transform: uppercase;
		font-size: 16px;
		font-weight: bold;
	}

	li {
		margin: 20px 10px;
	}

	a {
		padding: 10px;

		@include transition(color 0.2s ease-in-out);

		&:hover {
			text-decoration: none;

			&.b-icon--twitter {
				color: $twitter-color;
			}

			&.b-icon--facebook {
				color: $facebook-color;
			}
		}

		
	}

	a:before {
		font-size: 40px;
	}
}

.p-listen {
	width: 236px;
	height: 236px;

	margin: 0 auto;

	border-radius: 100%;
	border: solid 3px $color-theme;

	text-align: center;

	h3 {
		margin-top: 60px;
		margin-bottom: 20px;
		font-family: $heading-font-family;
		text-transform: uppercase;
		font-size: 16px;
		font-weight: bold;
	}
}