//	Footer
//  ======





//------------------------------------//
//  Footer
//------------------------------------//

.p-footer {
    padding-top: 90px;
    padding-bottom: 50px;

    font-family: $heading-font-family;
    font-weight: bold;

    @include mq($bp-mobile, max) {
        padding: 20px 10px;
    }
}



.p-footer__copy {
    float: left;
    @include font-size(18);

    @include mq($bp-mobile, max) {
        float: none;
        font-size: 14px;
    }
}

.p-footer__nav {
    float: right;
    @include font-size(18);

    @include mq($bp-mobile, max) {
        margin-top: 10px;
        float: none;
        font-size: 14px;
    }

    li {
        // Delimeter
        &+li:before { content: "|" "\00A0"; font-weight: normal;}
    }
}
