//	Header
//  ======





//------------------------------------//
//  Header
//------------------------------------//

.p-header {
	padding-top: 30px;
	padding-bottom: 30px;
}




.p-header__logo {
	display: block;
	float: left;

	width: 280px;
	height: 28px;

	background: url('/assets/img/logo.svg');
	background-size: cover;

	text-indent: -999em;
}



.p-header__nav {
	font-family: $heading-font-family;
	@include font-size(18);
	font-weight: bold;
	line-height: 28px;
	text-transform: uppercase;

	.is-current a {
		text-decoration: underline;
	}

	li {
		margin-right: 15px;

		&:last-child {
			margin-right: 0;
		}
	}
}
