//	Header
//  ======





//------------------------------------//
//  Header
//------------------------------------//

.p-header {
	z-index: 9;
	background: white;
	padding-top: 30px;
	padding-bottom: 30px;

	&.is_stuck {
		@include drop-shadow(0px, 1px, 4px, 3px, rgba(0,0,0,0.2));
	}

	@include mq($bp-mobile, max) {
		text-align: center;
		padding-top: 15px;
		padding-bottom: 15px;
	}
}




.p-header__logo {
	display: block;
	float: left;

	width: 280px;
	height: 28px;

	background: url('/assets/img/logo.svg');
	background-size: cover;

	text-indent: -999em;

	@include mq($bp-mobile, max) {
		float: none;
		margin: 0 auto;
	}
}



.p-header__nav {
	font-family: $heading-font-family;
	@include font-size(18);
	font-weight: bold;
	line-height: 28px;
	text-transform: uppercase;

	.is-current a {
		text-decoration: underline;
	}

	li {
		margin-right: 15px;

		&:last-child {
			margin-right: 0;
		}
	}

	@include mq($bp-mobile, max) {
		float: none;

		margin-top: 10px;
		@include font-size(14);

		li {
			margin-right: 10px;
		}
	}
}
