.p-map {

	.p-map-container {
		iframe {
			max-height: 300px;
		}
	}

		.p-map-container--one {
			width: 45%;
			float: left;

			@include mq(767px, max) {
				width: 90%;
				float: none;
				margin: 0 auto 20px auto;
			}
		}

		.p-map-container--two {
			width: 45%;
			float: right;

			@include mq(767px, max) {
				width: 90%;
				float: none;
				margin: 0 auto;
			}
		}

	.p-map-contact {

		margin-bottom: 80px;

		text-align: center;

		font-size: 50px;

		@include mq(767px, max) {
			font-size: 30px;
		}

	}
 }