// Multi-Slides
// ============

//	These are slides with images
//	On certain pages there are three of different sizes but the same style
//	It can also be full-width


//	For medium & small
//	If we have a container table to hold them
//	Then each container within that is a table-cell
//	Vericall alignde


.p-slides {

}

.p-slides--full {

}

.p-slides--large {
	width: 74.5%;
	margin-bottom: 100px;
}


.p-two-slides {
	display: table;
	width: 100%;
	text-align: center;
}

.p-two-slides__inner {
	display: table-cell;
	width: 50%;
	vertical-align: middle;
	text-align: center;
}

.p-slides--medium {
}

.p-slides--small ul {
	width: 63%;
	margin: auto;
}




.p-slides .slides__tabs,
.p-two-slides .slides__tabs {
	list-style:none;
	margin-top: 20px;
    margin-left:0;
    text-align: center;

    > li{

        display: inline;
        margin: 0 5px;

        &,
        > a{
            display:inline-block;
           *display:inline;
            zoom:1;
        }
    }

    li a {
    	display: block;
    	width: 15px;
    	height: 15px;

    	border-radius: 100%;
    	border: solid 2px white; 

    	text-indent: -999em;
    }

    li.slides__here a {
    	background: white;
    }
}

