.p-section {
	padding: 60px 0;
}


	.p-section--orange {
		background: $color-theme;
		color: white;
	}

	.p-section--white {
		
	}

	.p-section--grey {
		background: $color-neutral;
	}


.p-section__title {
	margin-bottom: 100px;
	
	font-family: $heading-font-family;
	@include font-size(20);
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;

	@include mq($bp-mobile, max) {
		margin-bottom: 50px;
	}
}

.p-section__subtitle {
	margin-bottom: 50px;
	
	font-family: $heading-font-family;
	@include font-size(20);
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;

	@include mq($bp-mobile, max) {
		margin-bottom: 30px;
	}
}