.p-section-text {
	max-width: 700px;
	margin: 60px auto;

	text-align: center;

	@include mq($bp-mobile, max) {
		margin: 20px auto;
		padding: 0 10px;
	}
}

.p-section-text p {
	margin-bottom: 40px;
	@include font-size(34);
	line-height: 42px;

	&:last-child {
		margin-bottom: 0;
	}

	@include mq($bp-mobile, max) {
		@include font-size(20);
		line-height: 1.2;
		margin-bottom: 30px;
	}
}