<div class="home__section-inner">
	<h1 class="home__section-title">
		<perch:content id="title" type="text" label="Title" required="true" title="true" />
	</h1>	

	<perch:content id="body" type="textarea" label="Body" markdown="true" editor="markitup" />
</div>

<div class="rates">
	<perch:repeater id="tiers" label="Tiers" max="3">
	    <perch:before><ul></perch:before>

		    <li class="rates-table">
		        <h2 class="rates-table__title">
		        	<perch:content id="rates-table" type="text" label="Title" required="true" title="true" />
		        </h2>

		        <div class="rates-table__body">
		        	<perch:content id="rates-body" type="textarea" label="Body" markdown="true" size="s" editor="markitup" />	
		        </div>

		        <div class="rates-table__cta">
		        	
			        <p class="rates-price">
						<perch:if id="rates-from" value="from" match="eq">
							<span class="rates-price__from">from</span>
						</perch:if>

						<span class="rates-price__price">
							£<perch:content id="rates-price" type="text" label="Price" required="true" help="e.g. 150" size="s" />	
						</span>
			        	
			        	<perch:if exists="rates-frequency">
			        		<span class="rates-price__frequency">
								&nbsp;<perch:content id="rates-frequency" type="text" label="Frequency" required="true" 	help="e.g. p/Month" />
							</span>
			        	</perch:if>

			        	<span class="rates-price__vat">+VAT</span>

			        	<perch:content id="rates-from" type="checkbox" label="From?" value="from" suppress="true" />
			        </p>

					<perch:if exists="rates-btn-url">
				        <a href="<perch:content id="rates-btn-url" type="text" label="Button URL" />" class="btn rates-btn">
				        	<perch:content id="rates-btn-text" type="text" label="Button Text" />
				        </a>
			        </perch:content>

		        </div>
		    </li>

	    <perch:after></ul></perch:after>
	</perch:repeater>
</div>