//	Wrappers
//  ========

//	For:
//	Wrapping & Containing

//	Wrapper

//	Container





//------------------------------------//
//  Wrapper
//------------------------------------//

.wrapper {
	width: 100%;
	max-width: 550px;
	margin: 0 auto;
	padding: 0 1em;
}





//------------------------------------//
//  Container
//------------------------------------//

.container {
	width: 100%;
	max-width: $max-width;
	margin: 0 auto;

	padding: 16px;
	padding: 1rem;
}




